$primary-color: #333;
$secondary-color: rgba(230, 93, 69, 255);
$text-color-light: #fff;
$text-color-dark: #000;
$show-home-image: true;
$home-image: url("../img/background_image.jpg");
$background-opacity: 0.7;

@mixin easeOut {
  transition: all 0.7s ease-in-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      // min-height: calc(100vh + 35px);
      z-index: -1;
      background: rgba($primary-color, $background-opacity);
    }
  }
}

/* Media Queries */

@mixin mediaLg {
  @media only screen and (min-width: 901px) and (max-width: 1070px) {
    @content;
  }
}

@mixin mediaMd {
  @media only screen and (min-width: 640px) and (max-width: 900px) {
    @content;
  }
}

@mixin mediaSm {
  @media only screen and (max-width: 778px) {
    @content;
  }
}

@mixin mediaXSm {
  @media only screen and (max-width: 499px) {
    @content;
  }
}
