@include mediaXSm {
  /* Home Section */
  main#home {
    position: relative;
    top: 35px;
    .branding {
      margin-left: 10px;
    }
  }
  #about,
  #projects,
  #contact,
  #thanks {
    h1,
    h2,
    h3,
    h4,
    h5 {
      margin: 0;
      font-weight: 400;
      &.lg-heading {
        font-size: 2rem;
      }
      &.sm-heading {
        font-size: 1.2rem;
      }
    }
  }
  /* About Section */
  .about-content {
    .bio {
      p {
        //font-size: 0.5rem;
        a {
          font-size: 0.8rem;
        }
      }
    }
    .profile {
      grid-template-columns: 1fr;

      margin-left: 0;
      &-btn {
        li {
          font-size: 0.53rem;
          &.active {
            @include easeOut();
            background-color: $secondary-color;
            padding: 7px;
            color: #030303;
            font-weight: 600;
            border-radius: 0.5rem;
          }
        }
      }
      &-content {
        margin-top: 20px;
      }

      &-link {
        display: flex;
      }
    }
  }
  #main-footer {
    visibility: hidden;
  }
}

@include mediaSm {
  main {
    flex-wrap: wrap-reverse;
    align-content: space-evenly;
    min-height: calc(100vh - 145px);
    &#home {
      margin: 0;
    }
    &#about,
    &#projects,
    &#contact {
      @include easeOut;
      margin-left: 2rem;
    }
    &#thanks {
      .lg-heading {
        font-size: 2rem;
      }
      .sm-heading {
        font-size: 1.2rem;
      }
    }
    .main-content {
      text-align: center;
      margin-right: 0;
      margin-top: 0;
    }
    .lg-heading {
      font-size: 3.5rem;
    }
    .sm-heading {
      font-size: 1.3rem;
    }
    .branding {
      height: 155px;
      margin-left: 20px;
      //margin: 50px 55px 0 0;
      .portrait {
        background-image: url("../img/portrait_profile_small.jpg");
        height: 150px;
        width: 150px;
        border-radius: 50%;
      }
    }
  }
  header {
    position: fixed;
    height: 100px;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    z-index: 1;
    background: rgba(lighten($primary-color, 5), 0.5);
    .menu-nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100vw;
      .nav-item {
        margin: 1rem;
        &:hover {
          transition: all 0.5s;
          transform: scale(1.2);
          .tooltip {
            visibility: hidden;
          }
        }
        @include easeOut;
      }
    }
  }

  /* About Section */
  .about-content {
    .bio {
      p {
        a {
          font-size: 0.6rem;
        }
      }
    }
    .profile {
      grid-template-columns: 1fr;
      &-btn {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 0.95rem;
        .fas {
          margin-right: 10px;
        }
      }
      &-content {
        margin-top: 20px;
        .certificates {
          .cert {
            a {
              img {
                height: 70px;
                width: 70px;
              }
              .cert-title {
                font-size: 0.9rem;
              }
            }
          }
        }
      }
    }
  }

  /* Contact Section */
  .contact-me {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin-bottom: 200px;
    height: 68vh;
    .my-info {
      .icons {
        justify-content: center;
        margin-top: 20px;
      }
    }
  }
  #main-footer {
    margin-bottom: 100px;
  }
}

@include mediaMd {
  main {
    // #home {
    //   min-height: calc(100vh - 22px);
    // }
    &#thanks {
      .sm-heading {
        font-size: 1.3rem;
      }
    }
    .lg-heading {
      font-size: 3.5rem;
    }
    .sm-heading {
      font-size: 1.2rem;
    }
    .branding {
      height: 155px;
      .portrait {
        background-image: url("../img/portrait_profile_small.jpg");
        height: 150px;
        width: 150px;
        border-radius: 50%;
      }
    }
    .main-content {
      padding-bottom: 0;
      padding-top: 20px;
    }
  }
  .contact-me {
    height: 100%;
  }
}

@include mediaLg {
  main {
    .lg-heading {
      font-size: 3.7rem;
    }
    .sm-heading {
      font-size: 1.5rem;
    }
    .branding {
      height: 243px;
      .portrait {
        background-image: url("../img/portrait_profile.jpg");
        height: 235px;
        width: 235px;
        border-radius: 50%;
      }
    }
  }
}
