@include mediaSm {
	#main-footer {
		margin-bottom: 70px;
	}

	header {
		position: fixed;
		bottom: 0;
		min-height: 100px;
		width: 100%;
		align-items: flex-end;
		z-index: 10;
		.menu {
			width: 100%;
			.menu-nav {
				flex-direction: row;
				justify-content: space-evenly;
				width: 100%;
			}
		}
	}
	main {
		flex-wrap: wrap-reverse;
		align-content: space-evenly;
		.certified {
			justify-content: center;
		}
		&#home {
			max-width: 100%;
			min-height: calc(100vh - 114px);
			text-align: center;
		}
		&#about {
			max-width: 100%;
			min-height: calc(100vh - 14px);
		}
		&#projects {
			max-width: 100%;
			min-height: calc(100vh - 114px);
			padding-bottom: 40px;
		}
		&#contact {
			min-width: 100%;
			min-height: calc(100vh - 114px);
			@include easeOut;
		}
		&#thanks {
			.lg-heading {
				font-size: 2rem;
			}
			.sm-heading {
				font-size: 1.2rem;
			}
		}
		.main-content {
			margin: 0;
			padding: 0;
			.lg-heading {
				font-size: 3.2rem;
			}
			.sm-heading {
				font-size: 1.2rem;
			}
		}
		.branding {
			height: 160px;
			.portrait {
				background-image: url('../img/portrait_profile_small.jpg');
				height: 150px;
				width: 150px;
				border-radius: 50%;
			}
		}
	}
	.about-content {
		.bio {
			p {
				a {
					font-size: 0.7rem;
					cursor: pointer;
				}
			}
		}
		.profile {
			grid-template-columns: 1fr;
			&-btn {
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				font-size: 0.95rem;
				.fas {
					padding: 0;
					margin: 0;
					display: flex;
					flex-direction: column;
					align-items: center;
					margin-bottom: 4px;
				}
			}
			&-content {
				padding: 10px 10px 0px 10px;
				.certificates {
					.cert {
						a {
							img {
								height: 70px;
								width: 70px;
							}
							.cert-title {
								font-size: 0.9rem;
							}
						}
					}
				}
			}
		}
	}
	.contact-me {
		margin: 0;
		padding: 0;
		display: grid;
		grid-template-columns: 1fr;
		text-align: center;
		margin-bottom: 15rem;
		height: 68vh;
		.my-info {
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			i {
				margin: 0;
				padding: 0;
			}
			.icons {
				justify-content: center;
				margin: 20px 0px;
			}
		}
		.contact-form {
			::-webkit-input-placeholder {
				font-size: 12px;
			}
		}
	}
}

@include mediaXSm {
	main {
		&#home {
			max-width: 100%;
			min-height: calc(100vh - 110px);
			h1,h2,h3,h4,h5{
				&.lg-heading {
					font-size: 3rem;
				}
				&.sm-heading {
					font-size: small
				}
			}
			text-align: center;
		}
	}
	.about-content {
		.profile {
			&-btn {
				font-size: 0.6rem;
			}
			&-content {
				margin-top: 20px;
				.certificates {
					.cert {
						a {
							img {
								height: 55px;
								width: 55px;
							}
							.cert-title {
								font-size: 0.8rem;
							}
						}
					}
				}
			}
		}
	}
	.contact-me {
		margin-bottom: 17rem;
	}
}
